<a href="https://colab.research.google.com/github/kjm12misa/Google_drive/blob/main/Python/python_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello, world")

hello, world

In [ ]:
# int - 정수
num_int = 1
num_int2 = 3
print(num_int)
print(num_int2)
print(type(num_int))

1
3
<class 'int'>

In [ ]:
# float - 실수
num_float = 0.2
print(num_float)
print(type(num_float))

0.2
<class 'float'>

In [ ]:
# bool -> True, False 를 나타내는 값
bool_true = True
print(bool_true)
print(type(bool_true))

True
<class 'bool'>

In [ ]:
# None -> Null을 나타내는 자료형으로 None라는 한가지 값만 가짐
none_x = None
print(none_x)
print(type(none_x))

None
<class 'NoneType'>

In [ ]:
# 논리형 연산자 -> Bool 형은 True, False 값으로 정의. AND/OR
a = 10 > 4
print(a) # True
b = 3 > 11 # False
print(b)

print(a and a) # and 는 두 개의 값이 True 여야지 True. 한가지라도 False 이면 False 값을 반환.
print(a and b)
print(a or a) # or 은 두 개의 값 중 한 개라도 True 면 True 값을 반환.
print(a or b)
print(b and b)

True
False
True
False
True
True
False

In [ ]:
var = input("papa come here!")

papa come here! yes. coming~

In [ ]:
var = int(input("papa help me")) # int(input()) 은 정수를 써야 오류가 안남.

papa help me119

In [ ]:
var = float(input("papa help me")) # float(input()) 은 실수를 써야 오류가 안남.

papa help me3.2

In [ ]:
mom = int(input("mom's age: "))
dad = int(input("dad's age: "))
Joon = float(input("Joon's height: "))
Sara = float(input("Sara's height: "))

taller = Joon > Sara
younger = mom > dad
print(taller)
print(younger)

mom's age: 38
dad's age: 40
joon's height: 185.7
daughter's height: 167.2
True
False

In [ ]:
Sara = "She is smaller than me!"
print(Sara[12])
print(Sara[-1])

e
!

In [ ]:
# 슬라이싱 -> 범위를 지정하고 데이터를 가져온다.

Sara = "She is smaller than me!"

print(Sara[:]) # all print
print(Sara[:2])
print(Sara[4:6])
print(Sara[7:14])
print(Sara[0:11:2]) # 질문사항!!

She is smaller than me!
Sh
is
smaller
Sei ml

In [ ]:
# 리스트 슬라이싱

a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#print(a)
print(a[0])
print(a[6:])
print(a[:5])
print(a[3:5])
print(a[0:10:3])

1
[7, 8, 9, 10]
[1, 2, 3, 4, 5]
[4, 5]
[1, 4, 7, 10]

In [ ]:
a = [['abcde', 'fghijkl', 'mnopqrstu'], 1]
#print(a[0])
#print(a[0][1])
#print(a[0][0][-1])
print(a[0][0][0:])
print(a[0][1][0:])

abcde
fghijkl

In [ ]:
a = ['john', 'even']
b = ['never', 'the']

c = b + a
print(c)

['never', 'the', 'john', 'even']

In [ ]:
c = a * 3
d = b * 0
print("a * 3 = ", c)
print("b * 0 = ", d)

a * 3 =  ['john', 'even', 'john', 'even', 'john', 'even']
b * 0 =  []

In [ ]:
# 리스트 값 추가하기
# 변수.append([]) 안에 리스트 형태일 때는 리스트 형태로 변수에 추가 된다.
a = [100, 200, 300]
a.append(400)
print(a)

a.append([500, 600])
print(a)

[100, 200, 300, 400]
[100, 200, 300, 400, [500, 600]]

In [ ]:
#변수.extend([]) 안에 리스트 형태 일지라도 변수에 숫자 또는 문자로만 추가 된다.
a = [100, 200, 300]
a.append(400)
print(a)

a.extend([500, 600])
print(a)

[100, 200, 300, 400]
[100, 200, 300, 400, 500, 600]

In [ ]:
a = [4, 3, 2, 1, "A"]
a.remove(1) # 리스트 안에 있는 값을 삭제
print(a)
a.remove("A")
print(a)

[4, 3, 2, 'A']
[4, 3, 2]

In [ ]:
b = ["a", "b", "c", "d"]
x = b.pop()
print(x)
print(b)

d
['a', 'b', 'c']

In [ ]:
a = [1, 4, 5, 2, 3]
b = [1, 4, 5, 2, 3]

a.sort()
print("sort(): ", a) # 앞 부터 출력할 때

# 내림차순, sort()
b.sort(reverse=True) # 뒤 부터 출력할 때
print("sort(reverse=True): ", b)

sort():  [1, 2, 3, 4, 5]
sort(reverse=True):  [5, 4, 3, 2, 1]

In [ ]:
c = ['4', '3', '2', 'a']
cb = c.sort()
print(cb)

None

In [ ]:
a = (0, 1, 2, 3, 'a')
print(type(a))

b = list(a)
print(b)
b[1] = "b"

a = tuple(b)
print(a)
# del a[4]

<class 'tuple'>
[0, 1, 2, 3, 'a']
(0, 'b', 2, 3, 'a')

In [ ]:
# 딕셔너리 --> key-value 값으로 나뉨.

dict_01 = {'teacher' : 'Joon',
           'class' : 100,
           'students' : 15,
           'students_name' : ['A', "Z"]}
print(dict_01)
print(dict_01['teacher'])
print(dict_01['students'])
print(dict_01['students_name'])

{'teacher': 'Joon', 'class': 100, 'students': 15, 'students_name': ['A', 'Z']}
Joon
15
['A', 'Z']

In [ ]:
print(dict_01.keys())

dict_keys(['teacher', 'class', 'students', 'students_name'])

In [ ]:
print(dict_01.values())

dict_values(['Joon', 100, 15, ['A', 'Z']])

In [ ]:
dict_01.items()

dict_items([('teacher', 'Joon'), ('class', 100), ('students', 15), ('students_name', ['A', 'Z'])])

## 반복문
- 2번째 과제 : 안녕하세요! 100번 반복하세요. 
- 3번째 과제 : 안녕하세요! 789256번 반복하세요!

- 반복문 작성 방식이 여러가지임.. zip, range, enumerate, len, etc

In [ ]:
a = "안녕하세요!"
b = a * 100

print(b)

안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!안녕하세요!

In [ ]:
for i in range(100):
  print(i + 1, "안녕하세요!")

In [ ]:
a = range(7)
#print(a)

for n in a:
  print(str(n + 1) + "번째 인사")
  if(n + 1) == 7:
    print("안녕히 가십시요~")
    break
  print("어서오십시요~")

1번째 인사
어서오십시요~
2번째 인사
어서오십시요~
3번째 인사
어서오십시요~
4번째 인사
어서오십시요~
5번째 인사
어서오십시요~
6번째 인사
어서오십시요~
7번째 인사
안녕히 가십시요~

In [ ]:
alphabets = ['A', 'B', 'C']
for index, value in enumerate(alphabets):
  print(index, value)

0 A
1 B
2 C